.optionsGenerator {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 10px ;
    border-radius: 10px;
    background-color: grey;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    margin-top: 10px;
    
}

.passGenerate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body{
    color: white;
    background-color: black;

}

.checkOptions{
    display: flex;
    justify-content: center;
}
#passNew{
    background-color: rgb(46, 45, 45);
    padding: 10px 100px;
}

.typeSecurity{
    color: red;
}